.custom-navbar {
  /* background-color: #0f172a; */
  transition: all 0.3s ease;
    background: rgba(2,6,23,.85);
    backdrop-filter: blur(18px);
    border-bottom: 1px solid rgba(255,255,255,.06);

}

.navbar-brand {
  color: #38bdf8 !important;
}

.nav-link {
  color: white !important;
  margin-left: 15px;
  transition: 0.3s;
  position: relative;
}

.nav-link:hover {
  color: #38bdf8 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-primary {
  background: #38bdf8;
  border: none;
}

.btn-primary:hover {
  background: #0ea5e9;
}